<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="content">Fred</label>
            <input
                    type="text"
                    id="content"
                    class="form-control"
                    [ngModel]="post?.fred"
                    name="fred"
                    required>
            <label for="content">Conquered</label>
            <input
                    type="text"
                    id="content"
                    class="form-control"
                    [ngModel]="post?.conquered"
                    name="conquered"
                    required>
            <label for="content">numComments</label>
            <input
                    type="number"
                    id="content"
                    class="form-control"
                    [ngModel]="post?.numComments"
                    name="numComments"
                    required>
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
